.coin-container {
  display: flex;
  justify-content: start;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 20vh;
  border-bottom: 1px solid #d7d7d7;
  width: 80vw;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 35px;
  flex-wrap: wrap;
  min-width: 20vw;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 15%;
  width: 15%;
  /* padding-right: 5%; */
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  flex-wrap: wrap;
  text-align:start;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}

.coin-marketcap {
  width: 200px;
}

.coin-percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}